<h2>Edit Post</h2>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
      <strong>Title</strong>
      <input type="text" class="form-control" formControlName="title">
    </label>
  </div>
  <div *ngIf="title.invalid && (title.dirty || title.touched)"
       class="alert alert-danger">
    <div *ngIf="title.errors.required">
      Bạn chưa nhập tiêu đề!
    </div>
    <div *ngIf="title.errors.minlength">
      Tiêu đề tối thiếu là 10 ký tự
    </div>
  </div>
  <div class="form-group">
    <label>
      <strong>Body</strong>
      <br>
      <textarea formControlName="body" cols="30" rows="3"></textarea>
    </label>
  </div>
  <div *ngIf="body.invalid && (body.dirty || body.touched)"
       class="alert alert-danger">
    <div *ngIf="body.errors.required">
      Bạn chưa nhập nội dung!
    </div>
    <div *ngIf="body.errors.minlength">
      Tiêu đề tối thiếu là 10 ký tự
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
